# Исследование надёжности заёмщиков

**Заказчик исследования** — кредитный отдел банка


**Цель исследования** — понять, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок,  в частности:
  1. Есть ли зависимость между количеством детей и возвратом кредита в срок?
  2. Есть ли зависимость между семейным положением и возвратом кредита в срок? 
  3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
  4. Как разные цели кредита влияют на его возврат в срок?

Результаты исследования будут учтены при построении модели кредитного скоринга, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**План исследования:**
 1. Обзор данных.
 2. Предобработка данных (поиск и замена пропущенных значений, аномалий, дубликатов).
 3. Проверка гипотез.

## 1 Обзор данных

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

In [5]:
data = pd.read_csv('data.csv')

In [6]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Выводы:
1. Количество значений в столбцах различается (например, в столбце `children` 21 525 строк, а в столбце `days_employed` и столбце `total_income` - 19 351). Значит, в данных есть пропущенные значения.
2. Есть артефакты, например, отрицательное количество дней трудового стажа в столбце `days_employed`, стаж у пенсионеров в столбце `days_employed` более 1000 лет. Значит, и в других столбцах могут быть артефакты
3. Тип данных в части столбцов не соответствует данным, например, в столбце `total_income` должен быть тип данных `int` или `float`.
4. Есть дубликаты, например, в столбце `education` одни и те же значения записаны либо строчными буквами, либо капслоком, либо с заглавной буквы.
5. Сама таблица большая, для удобства работы ее можно разделить на: 1) два "словаря" со столбцами `education`, `education_id` и `family_status`, `family_status_id`, 2) с основными данными. 

Данных достаточно для проверки гипотез, но встречаются пропуски в данных, дубли и ошибки в данных. По возможности надо запросить недостающие данные из CRM / CDP (такое бывает при "зоопарке" систем - когда одна получает лиды, другая - клиентов, и при передаче данных из одной в другую появляются ошибки).

## 2 Предобработка данных

### 2.1 Удаление пропусков

In [8]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`.

In [9]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### 2.2 Обработка аномальных значений

In [10]:
data['days_employed'] = data['days_employed'].abs()

In [11]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, оставим их как есть.

In [12]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [13]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [14]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

Артефакты удалены, можно продолжить удаление пропусков

### 2.3 Удаление пропусков (продолжение)

In [15]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [16]:
# проверим пропуски
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### 2.4 Изменение типов данных

In [17]:
data['total_income'] = data['total_income'].astype(int)

### 2.5 Обработка дубликатов

In [18]:
data['education'] = data['education'].str.lower()

In [19]:
# проверим пропуски
data.duplicated().sum()
data = data.drop_duplicates()

### 2.6 Категоризация данных

Произведём категоризацию дохода.

Также видно, что многие цели кредита названы очень похоже, можно разбить их на категории. Для этого создадим и применим функцию

In [20]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [21]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [22]:
data['total_income_category']

0        B
1        C
2        C
3        B
4        C
        ..
21520    B
21521    C
21522    C
21523    B
21524    C
Name: total_income_category, Length: 21331, dtype: object

In [27]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [28]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Выводы:
В результате предобработки были удалены пропуски и устранены аномалии, произведена категоризация данных.

## 3 Проверка зависимостей

### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
children_debt_group = data.groupby('children').agg({'debt': 'sum', 'children': 'count'})
children_debt_group['ratio'] = children_debt_group['debt'] / children_debt_group['children'] * 100
print(children_debt_group)

          debt  children     ratio
children
0         1063     14091  7.543822
1          444      4808  9.234609
2          194      2052  9.454191
3           27       330  8.181818
4            4        41  9.756098
5            0         9  0.000000

**Вывод:** чаще всего отдают кредит в срок бездетные клиенты и клиенты с 5+ детьми (клиенты с 5+ детьми)

### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
familystatus_debt_group = data.groupby('family_status').agg({'debt': 'sum', 'family_status': 'count'})
familystatus_debt_group['ratio'] = familystatus_debt_group['debt'] / familystatus_debt_group['family_status'] * 100
print(familystatus_debt_group)

                       debt  family_status     ratio
family_status
Не женат / не замужем   273           2796  9.763948
в разводе                84           1189  7.064760
вдовец / вдова           63            951  6.624606
гражданский брак        385           4134  9.313014
женат / замужем         927          12261  7.560558

**Вывод:** чаще всего отдают кредит в срок вдовцы/вдовы и женатые/замужние клиенты, реже всего - неженатые/незамужние

### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
income_debt_group = data.groupby('total_income_category').agg({'debt': 'sum', 'total_income_category': 'count'})
income_debt_group['ratio'] = income_debt_group['debt'] / income_debt_group['total_income_category'] * 100
print(income_debt_group)

                       debt  total_income_category     ratio
total_income_category
A                         2                     25  8.000000
B                       354                   5014  7.060231
C                      1353                  15921  8.498210
D                        21                    349  6.017192
E                         2                     22  9.090909

**Вывод:** чаще всего отдают кредит в срок клиенты с категорией дохода D (30001–50000), реже - E (0-30000). Прямой зависимости между уровнем дохода и возвращением кредита в срок не наблюдается.

### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [29]:
purpose_debt_group = data.groupby('purpose_category').agg({'debt': 'sum', 'purpose_category': 'count'})
purpose_debt_group['ratio'] = purpose_debt_group['debt'] / purpose_debt_group['purpose_category'] * 100
print(purpose_debt_group)

                          debt  purpose_category     ratio
purpose_category
операции с автомобилем     400              4279  9.347978
операции с недвижимостью   780             10751  7.255139
получение образования      369              3988  9.252758
проведение свадьбы         183              2313  7.911803

**Вывод:** чаще всего в срок отдают кредиты, связанные с недвижимостью и свадьбами, реже - связанные с образованием и автомобилями.

## Итоги исследования:

Общий уровень просроченной задолженности - 8%. При этом наиболее ответственно погашают кредиты следующие категории клиентов:
1) заёмщики с ежемесячным доходом менее 50 тыс. рублей,<br>
2) взявшие кредит на недвижимость или свадьбу,<br>
3) заёмщики без детей,<br>
4) вдовцы/вдовы и женатые/замужние.<br>

При этом явной зависимости между возвратом кредита в срок и доходом/семейным статусом/детьми/целью кредита не выявлено.

Однако в целом 8% - это высокий уровень просроченной задолженности, следовательно, повод проанализировать кредитный портфель банка в целом и в частности по бОльшей выборке заемщиков-физлиц.